@page
@model ICBFApp.Pages.EPS.IndexModel
@{
}

@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-message">
        <strong>@Model.SuccessMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#success-message").fadeOut("slow");
            }, 5000); // 5000 milisegundos = 5 segundos
        });
    </script>
}

<br />
<h2>Lista de EPS</h2>
<a class="btn btn-primary btn-sm" href="/EPS/Create">Nueva EPS</a>

<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>NIT</td>
            <td>Direccion</td>
            <td>Telefono</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listEPS)
        {
            <tr>
                <td>@item.idEps</td>
                <td>@item.nombre</td>
                <td>@item.NIT</td>
                <td>@item.direccion</td>
                <td>@item.telefono</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/EPS/Edit?idEps=@item.idEps">Editar</a>
                    <a class="btn btn-danger btn-sm" href="/EPS/Delete?idEps=@item.idEps">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>