@page
@model ICBFApp.Pages.Usuario.IndexModel
@{
}
<br />
<h2>Lista de Usuarios</h2>
<a class="btn btn-primary btn-sm" href="/Usuario/Create">Nuevo Usuario</a>

<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Nombres</td>
            <td>Fecha de Nacimiento</td>
            <td>Celular</td>
            <td>Dirección</td>
            <td>Rol</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listUsuario)
        {
            <tr>
                <td>@item.idUsuario</td>
                <td>@item.datosBasicos.nombres</td>
                <td>@item.datosBasicos.fechaNacimiento</td>
                <td>@item.datosBasicos.celular</td>
                <td>@item.datosBasicos.direccion</td>
                <td>@item.rol.nombre</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Usuario/Edit?id=@item.idUsuario">Editar</a>
                    <a class="btn btn-danger btn-sm" href="/Usuario/Delete?id=@item.idUsuario">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>