@page
@model ICBFApp.Pages.Asistencia.CreateModel
@{
}

<br>
<h2>Agregar Asistencia</h2>

@* Muestra mensaje de error al no completar todos los campos del formulario *@
@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}

@* Muestra mensaje de éxito al agregar un nuevo niño *@
@if (Model.successMessage.Length > 0)
{
    <div class="row mb-3">
        <div class="col-sm-9">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@Model.successMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
        </div>
    </div>
}

<form method="POST">

    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label">Fecha</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" name="fecha" value="@Model.avanceAcademicoInfo.fecha">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label" for="estadoNino">Estado</label>
        <label class="col-form-label-sm col-form-label" for="SelectedJardinId">Selecciona el estado del Niño:</label>
        <div class="col-sm-6">
            <select name="estadoNino" value="@Model.avanceAcademicoInfo.estadoNino" class="form-control">
                <option value=""> Selecciona el estado </option>
                <option value="Enfermo">Enfermo</option>
                <option value="Sano">Sano</option>
                <option value="Decaido">Decaido</option>
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label" for="ninio">Niño</label>
        <div class="col-sm-6">
            <select id="ninio" name="ninio" class="form-control">
                <option value="">Seleccione el niño</option>
                @foreach (var ninio in Model.listaNinios)
                {
                    <option value="@ninio.idNinio">@ninio.datosBasicos.identificacion</option>
                }
            </select>
        </div>

        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">
                <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
            <div class="col-sm-3 d-grid">
                <a class="btn btn-outline-primary" href="/Asistencia/Index" role="button">Cancelar</a>
            </div>
        </div>

</form>
