@page
@model ICBFApp.Pages.Ninio.EditModel
@{
}

<br>
<h2>Editar datos Niño</h2>

@* Muestra mensaje de error al no completar todos los campos del formulario *@
@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}

@* Muestra mensaje de éxito al agregar un nuevo niño *@
@if (Model.successMessage.Length > 0)
{
    <div class="row mb-3">
        <div class="col-sm-9">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@Model.successMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
        </div>
    </div>
}

<form method="POST">
    <input type="hidden" class="form-control" name="idNino" value="@Model.ninio.idNinio" />
    <input type="hidden" class="form-control" name="idDatosBasicos" value="@Model.datosBasicos.idDatosBasicos" />
    @* Método para mostrar los tipos de sangre de la base de datos en el formulario de niños *@
    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label" for="tipoSangre">Tipo de Sangre</label>
        <div class="col-sm-6">
            <select id="tipoSangre" name="tipoSangre" class="form-control">
                <option value="">Seleccione un Tipo de Sangre</option>
                <option value="@Model.ninio.tipoSangre" selected>@Model.ninio.tipoSangre</option>
                @foreach (var tipoSangre in Model.listaTiposSangre)
                {
                    <option value="@tipoSangre">@tipoSangre</option>
                }
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label">Identificación</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="identificacion" value="@Model.datosBasicos.identificacion">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label">Nombres</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nombres" value="@Model.datosBasicos.nombres">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label">Fecha de Nacimiento</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" name="fechaNacimiento" value="@Model.datosBasicos.fechaNacimiento">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label">Ciudad de Nacimiento</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="ciudadNacimiento" value="@Model.ninio.ciudadNacimiento">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label">Teléfono</label>
        <div class="col-sm-6">
            <input type="tel" class="form-control" name="celular" value="@Model.datosBasicos.celular">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label">Dirección</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="direccion" value="@Model.datosBasicos.direccion">
        </div>
    </div>

    @* Método para mostrar los roles de la base de datos en el formulario de personas *@
    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label" for="acudiente">Acudiente</label>
        <div class="col-sm-6">
            <select id="acudiente" name="acudiente" class="form-control">
                <option value="">Seleccione el acudiente</option>
                <option value="@Model.acudienteSelected.idUsuario" selected>@Model.acudienteSelected.datosBasicos.identificacion</option>
                @foreach (var acudiente in Model.listaAcudientes)
                {
                    <option value="@acudiente.idUsuario">@acudiente.datosBasicos.identificacion</option>
                }
            </select>
        </div>
    </div>

    @* Método para mostrar los roles de la base de datos en el formulario de personas *@
    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label" for="jardin">Jardín</label>
        <div class="col-sm-6">
            <select id="jardin" name="jardin" class="form-control">
                <option value="">Seleccione un Jardín</option>
                <option value="@Model.jardinSelected.idJardin" selected>@Model.jardinSelected.nombre</option>
                @foreach (var jardin in Model.listaJardines)
                {
                    <option value="@jardin.idJardin">@jardin.nombre</option>
                }
            </select>
        </div>
    </div>

    @* Método para mostrar los roles de la base de datos en el formulario de personas *@
    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label" for="eps">EPS</label>
        <div class="col-sm-6">
            <select id="eps" name="eps" class="form-control">
                <option value="">Seleccione una EPS</option>
                <option value="@Model.epsSelected.idEps" selected>@Model.epsSelected.nombre</option>
                @foreach (var eps in Model.listaEps)
                {
                    <option value="@eps.idEps">@eps.nombre</option>
                }
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Editar</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Ninio/Index" role="button">Cancelar</a>
        </div>
    </div>

</form>