@page
@model ICBFApp.Pages.AvancesAcademicos.EditModel
@{
}

<br>
<h2>Editar Avance academico</h2>

@* Muestra mensaje de error al no completar todos los campos del formulario *@
@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}

@* Muestra mensaje de éxito al agregar un nuevo niño *@
@if (Model.successMessage.Length > 0)
{
    <div class="row mb-3">
        <div class="col-sm-9">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@Model.successMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
        </div>
    </div>
}

<form method="POST">

    <input type="hidden" class="form-control" name="idAvanceAcademico" value="@Model.avanceAcademicoInfo.idAvanceAcademico" />

    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label" for="nivel">Año escolar</label>
        <div class="col-sm-6">
            <select id="anioEscolar" name="anioEscolar" class="form-control">
                <option value="">Selecciona el año escolar:</option>
                @foreach (var anioEscolar in Model.listaAño)
                {
                    // Convierte Model.avanceAcademicoInfo.anioEscolar a entero para comparar correctamente
                    int anioEscolarInt = 0;
                    if (int.TryParse(Model.avanceAcademicoInfo.anioEscolar, out anioEscolarInt))
                    {
                        if (anioEscolar == anioEscolarInt)
                        {
                            <option value="@anioEscolar" selected>@anioEscolar</option>
                        }
                        else
                        {
                            <option value="@anioEscolar">@anioEscolar</option>
                        }
                    }
                    else
                    {
                        // En caso de que Model.avanceAcademicoInfo.anioEscolar no sea un número entero válido
                        <option value="@anioEscolar">@anioEscolar</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label" for="nivel">nivel</label>
        <div class="col-sm-6">
            <select id="nivel" name="nivel" class="form-control">
                <option value="">Selecciona el nivel</option>
                @foreach (var nivel in Model.listaNivel)
                {
                    if (nivel.Trim().Equals(Model.avanceAcademicoInfo.nivel?.Trim(), StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@nivel" selected>@nivel</option>
                    }
                    else
                    {
                        <option value="@nivel">@nivel</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label" for="notas">Nota</label>
        <div class="col-sm-6">
            <select id="notas" name="notas" class="form-control">
                <option value="">Selecciona la nota</option>
                @foreach (var avanceAcademico in Model.listaNota)
                {
                    if (avanceAcademico.Trim().Equals(Model.avanceAcademicoInfo.notas?.Trim(), StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@avanceAcademico" selected>@avanceAcademico</option>
                    }
                    else
                    {
                        <option value="@avanceAcademico">@avanceAcademico</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label">Descripcion</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="descripcion" value="@Model.avanceAcademicoInfo.descripcion">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label">fecha de entrega</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" name="fechaEntrega" value="@Model.avanceAcademicoInfo.fechaEntrega">
        </div>
    </div>

        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
            <div class="col-sm-3 d-grid">
                <a class="btn btn-outline-primary" href="/AvancesAcademicos/Index" role="button">Cancelar</a>
            </div>
        </div>

</form>